

body {
  font-family: Tahoma, Geneva, sans-serif;
  height: 100%;
}

#main-section {
  text-align: center;
  justify-content: center;
  align-items: center;
}
.card a {
  color: #500A00;
}

.card {
  max-width: 70%;
}
#searchForm {
  
  align-items: center;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  body {
    text-align: center;
  }
  #resultSection {
    
    text-align: center;
    justify-content: center;
    align-items: center;
    
  }
  .card {
    max-width: 100%;
  }
}